<div class="po-wrapper">
  <po-menu id="menu-principal" class="collapse menu-principal" [p-menus]="menus" [p-collapsed]="collapse" >

  </po-menu>
  <po-page-default class="main-page">
    <header>
      <div class="po-mb-5 cabecalho">
        <h1 class="">ALUGAME</h1>
      </div>
      <section class="po-pb-5 po-row">
        <div class="po-md-6 po-p-0 lay-1">
          <h2>
            A procura de um carro?<br>
            Está no site certo!
          </h2>
        </div>

        <div class="po-md-6 po-p-0 lay-2">
            <po-button
                p-label="Login"
                p-type="default"
                p-kind="primary"
                class="botao-login">
            </po-button>
        </div>
      </section>
    </header>

  </po-page-default>
</div>
